Repository CMU-313/fall-2021-hw2-the-brogrammers, pull requests merged in 2021-09, with the labels that each got.

#32 Add review infastructure to Mayan EDMS
  mayan/apps/cabinets/apps.py
  mayan/apps/reviews/apps.py
  mayan/apps/reviews/icons.py
  mayan/apps/reviews/links.py
  mayan/apps/reviews/menus.py
  mayan/apps/reviews/permissions.py
  mayan/apps/reviews/urls.py
  mayan/apps/reviews/views.py
Labels: enhancement, setup, model, view, url

#41 Candidate creation
  mayan/apps/reviews/admin.py
  mayan/apps/reviews/apps.py
  mayan/apps/reviews/icons.py
  mayan/apps/reviews/links.py
  mayan/apps/reviews/migrations/0002_auto_20210925_2020.py
  mayan/apps/reviews/models.py
  mayan/apps/reviews/permissions.py
  mayan/apps/reviews/urls.py
  mayan/apps/reviews/views.py
Labels: model, view, url

#47 Added str method to ReviewForm class
  mayan/apps/reviews/models.py
Labels: bug, view

#49 added functionality for viewing individual review pages
  mayan/apps/reviews/forms.py
  mayan/apps/reviews/models.py
  mayan/apps/reviews/urls.py
  mayan/apps/reviews/views.py
Labels: view

#51 Add more CRUD operations for 'review' entites + minor tweaks
  .vscode/launch.json
  mayan/apps/cabinets/apps.py
  mayan/apps/reviews/apps.py
  mayan/apps/reviews/icons.py
  mayan/apps/reviews/links.py
  mayan/apps/reviews/models.py
  mayan/apps/reviews/urls.py
  mayan/apps/reviews/views.py
Labels: enhancement, model, view, url

#53 Removed documents as a field and added the creation date.
  mayan/apps/reviews/migrations/0008_reviewform_created_at.py
  mayan/apps/reviews/migrations/0009_remove_reviewform_documents.py
  mayan/apps/reviews/models.py
Labels: enhancement

#54 Added more documentation
  README.md
  images/show_all_candidate_reviews.png
Labels: enhancement

#55 add model tests
  mayan/apps/reviews/tests/__init__.py
  mayan/apps/reviews/tests/mixins.py
  mayan/apps/reviews/tests/test_models.py
Labels: test

#57 display created_at field in details
  mayan/apps/reviews/forms.py
  mayan/apps/reviews/models.py
  mayan/apps/reviews/views.py
Labels: view

#59 Refactor comments, add date field to ReviewForm list_view
  mayan/apps/reviews/admin.py
  mayan/apps/reviews/apps.py
  mayan/apps/reviews/icons.py
  mayan/apps/reviews/links.py
  mayan/apps/reviews/menus.py
  mayan/apps/reviews/models.py
  mayan/apps/reviews/urls.py
  mayan/apps/reviews/views.py
Labels: enhancement

#62 Add new feature -- Candidate pages
  mayan/apps/reviews/apps.py
  mayan/apps/reviews/events.py
  mayan/apps/reviews/forms.py
  mayan/apps/reviews/icons.py
  mayan/apps/reviews/links.py
  mayan/apps/reviews/models.py
  mayan/apps/reviews/permissions.py
  mayan/apps/reviews/urls.py
  mayan/apps/reviews/views.py
  requirements/base.txt
  requirements/testing-base.txt
Labels: enhancement, model, view, url
